#feature-pane{
    height:350px;
    width: 1200px;
    overflow: hidden;
}

.carousel {
    width: 100%;
}

.carousel .feature-item {
    position: relative;
}

.carousel .title {
    background-color: pink;
    position: absolute;
    top: 100px;
    right: 0px;
}

.carousel .description {
    background-color: pink;
    position: absolute;
    top: 100px;
    left: 0px;
}

.carousel .feature-item img {
    width: 100%;
}
    
