<nav class="social-nav fadein"> 
{% for link in links %}
   <a target="_blank" href="{{ link[1].url }}" class="icon-link nav-item">
      <div class="icon">
        <img src="{{ link[0].path }}"/>
      </div>
      <div class="social-text">
        {{ link[1].name }}
      </div>
    </a>
{% endfor %}
{% if email %}
   <a target="_blank" href="mailto:{{ email }}" class="icon-link nav-item">
      <div class="icon">
        <img src="/plugins/vonzimmerman/displaycase/assets/images/email.svg"/>
      </div>
      <div class="social-text">
        Email
      </div>
    </a>
{% endif %}
</nav>
